.date-selector {
  display: flex;
  align-items: center;
}

@media (min-width: 800px) {
  .date-selector {
    grid-column: span 3;
  }
}

.date-selector-button {
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.date-selector-button:hover {
  background-color: rgb(216, 216, 216);
}

.date-display {
  font-size: 20px;
  text-transform: uppercase;
}
