.date-selector {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
}

.date-selector-button {
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.date-selector-button:hover {
  background-color: rgb(216, 216, 216);
}

.date-display {
  font-size: 20px;
  text-transform: uppercase;
}
