.calendar {
  /* margin-bottom: 40px; */
}

.calendar-body {
  height: 100%;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-item {
  padding: 4px;
  overflow: hidden;
  outline: 0.1px solid rgb(202, 202, 202);
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

.calendar-item.current-month {
  color: black;
}

.calendar-weekday {
  margin-bottom: 2px;
}

.calendar-day {
  padding: 2px;
}

.calendar-item.today .calendar-day {
  border-radius: 50%;
  color: white;
  background-color: rgb(231, 50, 50);
}

.calendar-text {
  display: none;
}
