.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-item {
  outline: 1px solid black;
}
