.todo {
  padding: 10px;
}

.todo-header {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.todo-input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  font-size: 17px;
}

.todo-submit {
  width: 100px;
  height: 30px;
  font-size: 17px;
  border: none;
  color: white;
  background-color: rgb(231, 50, 50);
}

.todo h3 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.todo-list {
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  margin-top: 15px;
}

.todo-item-text {
  /* align-self: center; */
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  font-size: 16px;
  overflow-wrap: anywhere;
  hyphens: auto;
}

.todo-item-text.completed {
  text-decoration: line-through;
}

.todo-item-edit {
  background: none;
  border: none;
  position: relative;
  top: 4px;
}

.todo-item-remove {
  background: none;
  border: none;
}

.todo-item svg {
  vertical-align: top;
}
